h1 {
    font-size: 75px;
}

h1 span{
    color: rgb(255, 133, 133);
}

.subtitle h2{
    font-size: 30px;
    text-align: center;
}

.subtitle p{
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

.subtitle p span{
    color: rgb(255, 133, 133);
    font-size: 25px;
}

.about-container {
    display: inline-flex;
    margin: 8em 0 5em 25%;
}

.title {
    margin-top: 3.5em;
}

.subtitle {
    margin: 4em 0 4em;
}

.header-image img{
    height: 200px;
    width: 300px;
}
