.aqi, .pol{
    font-size: 25px;
    padding: 5px;
}

.aqi{
    margin-top: 20px;
}

.pol{
    margin-bottom: 20px;
}

.searchbar input{
    padding: 10px;
    margin: 5px;
    font-size: 18px;

}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-image: radial-gradient(rgb(255, 251, 225), rgb(255, 133, 133));
}